$bold:600;
$greytext: #959595;

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/openSans/OpenSans-Light.woff2") format("woff2"), url("../fonts/openSans/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/openSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/openSans/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/openSans/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/openSans/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/openSans/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/openSans/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/openSans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/openSans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.h1, h1 {
    font-size: 2.5rem;
}

.h2, h2 {
    font-size: 1.875rem;
}

.h3, h3 {
    font-size: 1.5rem;
}

.h4, h4 {
    font-size: 1.25rem;
}

.h5, h5 {
    font-size: 1.125rem;
}

.h6, h6 {
    font-size: 1rem;

}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    line-height: 1;
    color: #090e40;
	padding-bottom:8px;
    font-weight: $bold;	
}

.textDisabled {
	color: #959595;
}

.textBold {
   font-weight: $bold;	
}

.textRed {
	color: #ff0000;
	font-weight: $bold;
}

.textBlue {
	color: #439aff;
	font-weight: $bold;
}
   	
.textYellow {
	color: #f5a623;
	font-weight: $bold;
}

.textGreen {
	color: #7ed321;
	font-weight: $bold;
}

.fs10 {
	font-size:	10px;
}


.fs24 {
	font-size:	24px;
}

.em08 {
	font-size:0.8em;
}

.colorLGrey {
	color: #0A0A0A;
}



