


/*====================================================================*/

$borderlight: #b6c6d2;

/*основная старница сайта*/
.page01 {


    .row-select-theme {
        padding-top: 1rem;
        border-bottom: 1px solid $borderlight;
    }


    .row-paginator {
        padding-top: 1rem;
        border-bottom: 1px solid $borderlight;
    }


/*    .comment {
        padding: 16px 0 30px 0;
        border-bottom: 1px solid $borderlight;

        .header-user {
            font-size: 0.9rem;
            !*font-weight: bold;*!
        }

        .name {
            font-weight: bold;
        }

        .edited {
            font-style: italic;
        }

        .header-admin {
            !*@extend .text-md-right;*!
        }

        .row-text {
            padding: 15px 0 15px 0;
        }



        .header-user p {
            margin-bottom: 0;
        }

        .admin-footer-row {
            padding-top: 10px;
        }

    }

    .add-comment {
        padding: 16px 0 30px 0;

    }*/

}



/*для модального окна*/
#id-modal-article {

    width: 100%;
    min-height: 100vh;

    .column {
        max-width: 780px;
    }

    blockquote {
        display: block;
        margin: 12px 0;
        padding: 18px 20px;
        background: #fff7d7;
    }

    img {
        margin: 0;
        vertical-align: middle;
        max-width: 100%;
        height: auto;
    }

    pre {
        display: block;
        overflow-x: auto;
        overflow-y: hidden;
        margin: 0;
        padding: 0;
        word-break: break-all;
        font-family: monospace,monospace;
        font-size: 1em;
        white-space: pre;
    }

    code {
        white-space: pre-wrap;
        display: block;
        padding: 17px 20px 20px;
        border: 1px solid #e5e8ec;
        background: #fbfdff;
    }
}



/*страница ошибка 404*/
.p03 {
    .header {
        padding: 15px 0 15px 0;
        border-bottom: 1px solid $borderlight;
        margin-bottom: 0;
    }
}

