


/*====================================================================*/

$borderlight: #b6c6d2;

.page01 {

    .row-select-theme {
        padding-top: 1rem;
        border-bottom: 1px solid $borderlight;
    }


    .row-paginator {
        padding-top: 1rem;
        border-bottom: 1px solid $borderlight;
    }


    .comment {
        padding: 16px 0 30px 0;
        border-bottom: 1px solid $borderlight;

        .header-user {
            font-size: 0.9rem;
            /*font-weight: bold;*/
        }

        .name {
            font-weight: bold;
        }

        .edited {
            font-style: italic;
        }

        .header-admin {
            /*@extend .text-md-right;*/
        }

        .row-text {
            padding: 15px 0 15px 0;
        }



        .header-user p {
            margin-bottom: 0;
        }

        .admin-footer-row {
            padding-top: 10px;
        }

    }

    .add-comment {
        padding: 16px 0 30px 0;
        /*
        border-bottom: 1px solid $borderlight;
        margin-bottom: 10px;
        */
    }
}
.header {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid $borderlight;
    margin-bottom: 0;
}

#id-modal-article {
    width: 100%;
    min-height: 100vh;
}

/*страница ошибка 404*/
.p03 {
    .header {
        padding: 15px 0 15px 0;
        border-bottom: 1px solid $borderlight;
        margin-bottom: 0;
    }

}




