/*стили для всего сайта, не связанны с конкретной страницей
	применять с Bootstrap
*/

$borderlight: #b6c6d2;


.site-full-width {
	width:  100%;
	min-height: 100vh;
	background: #373B40;
}


.site-job-width {
	background: white;
	min-height: 100vh;
	/*border: 1px solid #dddddd;*/
}


.site-header {
	border-radius: 0;
	border-bottom: 1px solid $borderlight;
}



