
<div class='row border-bottom pt-3'>
    <div class="col">

        <div class='row form-group'>

            <label class="col-6 col-md-3 col-lg-2 col-form-label">Раздел на хабре:</label>

            <div class='col-7 col-md-5 col-lg-4'>
                <select size='1' class='custom-select select-order-mode' id='id-select-chapter'>
                    <option value='/ru/all/'>Все подряд</option>
                    <option value='/ru/hub/programming/'>Программирование</option>
                    <option value='/ru/hub/infosecurity/'>Информационная безопасность</option>
                    <option value='/ru/hub/webdev/'>Разработка веб-сайтов</option>
                    <option value='/ru/hub/popular_science/'>Научно популярное</option>
                </select>
            </div>

            <div class='col-6 col-md-3 col-lg-2 mt-5 mt-md-0'>
                <button type='button' id='id-button-download' class='btn btn-block btn-info'>Загрузить</button>
            </div>

        </div>

    </div>
</div>

<div id='id-tab'>
    <?= $toView['div_tab_innerHTML'] ?>
</div>

<div style="display: none;" id="id-modal-article">
    <p>no text</p>
</div>
