<!doctype html>
<html>

<head lang="ru">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><?= ($toView['title']) ?? ''  ?></title>

    <link rel='icon' href='favicon.png' sizes='16x16' type='image/png'>
    <link rel='stylesheet' href='css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css'>
    <script src='js/jquery-3.4.1.min.js'></script>
    <script src='js/bootstrap.min.js'></script>
    <script src="js/scripts.js"></script>

    <?php if(isset($toView['script_file'])) { ?> <script src="js/<?= $toView['script_file'] ?>"></script> <?php } ?>

    <!--фансибокс-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>


<!-- тег BODY -->
<?php echo (isset($toView['body_class'])) ? "<body class='${toView['body_class']}'>" : '<body>' ?>

    <!--содержимае сайта на всю. ширину экрана с полями-->
    <div class='site-full-width'>

        <!--заголовок сайта-->
        <div class='container p-0'>
            <div class='jumbotron text-center mb-0 site-header'>
                <h1>Парсер статей Hubr.ru</h1>
                <p>Тестовое задание для Hobby</p>
            </div>
        </div>


        <!-- блок - на всю рабочую (контентную) ширину сайта -->
        <div class='container site-job-width'>

            <!--вся начинка body-->
            <?php (!isset($toView['body_html'])) ?: include('../views/'.$toView['body_html']); ?>
        </div>

    </div>

<!-- тег BODY -->
</body>


</html>
